{
  "inputFilePath": "TEMPLATE_SDL_PATH/include/SDL3/SDL.h",
  "outputDirectory": "TEMPLATE_OUTPUT_DIR",
  "userIncludeDirectories": [
    "TEMPLATE_SDL_PATH/include/"
  ],
  "targetPlatforms": {
    "windows": {
      "x86_64-pc-windows-msvc": {},
      "aarch64-pc-windows-msvc": {}
    },
    "macos": {
      "aarch64-apple-darwin": {},
      "x86_64-apple-darwin": {},
    },
    "linux": {
      "x86_64-unknown-linux-gnu": {},
      "aarch64-unknown-linux-gnu": {}
    }
  }
}
